@font-face{
	font-family:standard;
	src:local(sans-serif);
	src:local(system-ui);
	src:local(Roboto);
	src:local(Roboto-Light);
	src:local(Noto Sans);
	src:local(NotoSans-Light);
	src:local(Noto Sans Display);
	src:local(NotoSansDisplay-Light);
	src:local(Segoe UI);
	src:local(BlinkMacSystemFont);
	src:local(-apple-system);
	src:local(SF Pro Display);
	src:local(SFProDisplay-Light);
	src:local(SFProDisplay-Light), local(SF Pro Display), local(-apple-system), local(BlinkMacSystemFont), local(Segoe UI), local(NotoSansDisplay-Light), local(Noto Sans Display), local(NotoSans-Light), local(Noto Sans), local(Roboto-Light), local(Roboto), local(system-ui), local(sans-serif);
	font-weight:300;
}
@font-face{
	font-family:mono;
	src:local(monospace);
	src:local(Courier);
	src:local(Courier Std);
	src:local(CourierStd);
	src:local(Source Code Pro);
	src:local(SourceCodePro-Medium);
	src:local(Roboto Mono);
	src:local(RobotoMono-Regular);
	src:local(Noto Mono);
	src:local(NotoMono);
	src:local(SF Mono);
	src:local(SFMono-Regular);
	src:local(SFMono-Regular), local(SF Mono), local(RobotoMono-Regular), local(Roboto Mono), local(SourceCodePro-Medium), local(Source Code Pro), local(NotoMono), local(Noto Mono), local(CourierStd), local(Courier Std), local(Courier), local(monospace);
	font-weight:400;
}
@font-face{
	font-family:roman;
	src:local(serif);
	src:local(Times);
	src:local(Times New Roman);
	src:local(Georgia);
	src:local(Noto Serif);
	src:local(NotoSerif-Regular);
	src:local(New York Medium);
	src:local(NewYorkMedium-Medium);
	src:local(NewYorkMedium-Medium), local(New York Medium), local(NotoSerif-Regular), local(Noto Serif), local(Georgia), local(Times New Roman), local(Times), local(serif);
    font-weight:400;
}