
/* common policy */
*{
	cursor:default;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	touch-action:none;
}



/* define sizes of all container views */
body,#base,#backgroundView,#range,#drawView,#inputView,#menuView,#menuShadow{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}
#backgroundView{
	z-index:1;
}
#statusbar{
	z-index:2;
}
#drawView{
	z-index:3;
}
#range:not(#drawView #range){
	z-index:4;
}
#inputView{
	z-index:5;
}
#menuButton{
	z-index:6;
}
#menuView{
	z-index:7;
}



/* auto resizing definition */
:root{
	--square-size:100vmin;
	--square-size:min(calc( 100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) ),calc( 100vw - env(safe-area-inset-left) - env(safe-area-inset-right) ));
	--half-square-size:calc( var(--square-size) / 2 );
	--square-left-margin:calc( 50vw + env(safe-area-inset-left) / 2 - env(safe-area-inset-right) / 2 - var(--half-square-size) );
	--square-right-margin:calc( 50vw - env(safe-area-inset-left) / 2 + env(safe-area-inset-right) / 2 - var(--half-square-size) );
	--square-top-margin:calc( 50vh + env(safe-area-inset-top) / 2 - env(safe-area-inset-bottom) / 2 - var(--half-square-size) );
	--square-bottom-margin:calc( 50vh - env(safe-area-inset-top) / 2 + env(safe-area-inset-bottom) / 2 - var(--half-square-size) );
}
@media screen {
	.squared #backgroundView,.squared #inputView{
		left:var(--square-left-margin);
		right:var(--square-right-margin);
		top:var(--square-top-margin);
		bottom:var(--square-bottom-margin);
	}
}



/* range behavior definition  */
#range>div{
	position:absolute;
	visibility:hidden;
}
#range>.left,#range>.right{
	top:0px;
	bottom:0px;
	width:0px;
}
#range>.left{
	left:0px;
}
.squared #range>.left{
	width:var(--square-left-margin);
}
#range>.right{
	right:0px;
}
.squared #range>.right{
	width:var(--square-right-margin);
}
#range>.top,#range>.bottom{
	left:0px;
	right:0px;
	left:var(--square-left-margin);
	right:var(--square-right-margin);
	height:0px;
}
#range>.top{
	top:0px;
}
.squared #range>.top{
	height:var(--square-top-margin);
}
#range>.bottom{
	bottom:0px;
}
.squared #range>.bottom{
	height:var(--square-bottom-margin);
}



/* statusbar definition */
#statusbar{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	height:0px;
	height:env(safe-area-inset-top);
}
.squared #statusbar{background-color:transparent !important;}



/* inputView minute definition */
.moving #inputView{cursor:grabbing;}



/* menu definition */
#menuButton{
	border-radius:50%;
	transition:opacity 0.5s ease-in-out;
	cursor:pointer;
	position:absolute;
	right:10px;
	right:calc( 10px + env(safe-area-inset-right) );
	bottom:10px;
	bottom:calc( 10px + env(safe-area-inset-bottom) );
	width:50px;
	height:50px;
}
.menu-shown #menuButton{opacity:0;}
.menu-hidden #menuView{visibility:hidden;}
#menuShadow{
	opacity:0;
	transition:opacity 0.5s ease-in-out,background-color 0.3s ease-in-out;
	z-index:1;
}
.menu-shown #menuShadow{opacity:0.3;}
#menuContainer{
	border-radius:5px;
	transform:translateX(calc( 100% + 10px + env(safe-area-inset-right) ));
	transition:transform 0.5s ease-in-out,background-color 0.3s ease-in-out;
	position:absolute;
	z-index:2;
	right:5px;
	right:calc( 5px + env(safe-area-inset-right) );
	bottom:5px;
	bottom:calc( 5px + env(safe-area-inset-bottom) );
	height:60px;
	max-width:calc( 100% - 10px );
	overflow:hidden;
}
@media (prefers-reduced-motion: reduce) {
	#menuView,#menuContainer{transition:none;}
}
#menu{
	height:160px;
	white-space:nowrap;
	position:relative;
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
    touch-action:pan-x;
}
#menu>div{
	font-size:25px;
	font-weight:200;
	font-family:standard;
	border-radius:50%;
	cursor:pointer;
	margin:5px 0px 5px 5px;
	position:relative;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	width:50px;
	height:50px;
    touch-action:pan-x;
}
#menu>div:last-child{
	margin-right:5px;
}
.menu-shown #menuView>div{
	transform:translateX(0px);
}



/* screen/printing behavior */
@media screen {
	html.standalone{
		width:100vw;
		height:100vh;
	}
	body{
		margin:0px;
		position:fixed;
	}
}
@page{ size: A4 portrait; }
@media print {
	body{
		margin:0px;
		width:100vw;
		height:100vh;
	}
	#base{
		page-break-inside:avoid;
		width:100%;
		height:100%;
		overflow:hidden;
	}
	#backgroundView,#menuButton,#menuView{
		visibility:hidden;
	}
}

/* color definition */
@media screen {
	html,#backgroundView,#statusbar{
		transition:background-color 0.3s ease-in-out;
	}
	#menu>div,#inputView>div{
		transition:background-color 0.3s ease-in-out,color 0.3s ease-in-out;
	}
}
@media screen {
	html.light,.light #backgroundView{
		background-color:#ffffff;
	}
	html.dark,.dark #backgroundView{
		background-color:#000000;
	}
	.light #statusbar{
		background-color:#999999;
	}
	.dark #statusbar{
		background-color:transparent;
	}
	.light #menuShadow{
		background-color:#666666;
	}
	.dark #menuShadow{
		background-color:#cccccc;
	}
	.light #menuContainer{
		background-color:rgba(255,255,255,0.8);
	}
	.dark #menuContainer{
		background-color:rgba(0,0,0,0.8);
	}
	.light #menu>div,.light #menuButton{
		color:#ffffff;
		background-color:rgba(102,102,102,0.8);
	}
	.dark #menu>div,.dark #menuButton{
		color:#000000;
		background-color:rgba(204,204,204,0.8);
	}
}
@media screen and (prefers-color-scheme: light) {
	html.pcs,.pcs #backgroundView{
		background-color:#ffffff;
	}
	.pcs #statusbar{
		background-color:#999999;
	}
	.pcs #menuShadow{
		background-color:#666666;
	}
	.pcs #menuContainer{
		background-color:rgba(255,255,255,0.8);
	}
	.pcs #menu>div,.pcs #menuButton{
		color:#ffffff;
		background-color:rgba(102,102,102,0.8);
	}
}
@media screen and (prefers-color-scheme: dark) {
	html.pcs,.pcs #backgroundView{
		background-color:#000000;
	}
	.pcs #statusbar{
		background-color:transparent;
	}
	.pcs #menuShadow{
		background-color:#cccccc;
	}
	.pcs #menuContainer{
		background-color:rgba(0,0,0,0.8);
	}
	.pcs #menu>div,.pcs #menuButton{
		color:#000000;
		background-color:rgba(204,204,204,0.8);
	}
}